
/*media for mobile*/

@media (min-width: 576px) and (max-width:785px) {
  .container {
    max-width: 540px;
  }
  /*nav bar section*/
  .xs-visible{
    display: block;
  }
  header .slide h1 {
     font-size: 5em;
}
header .slide .lead {
   margin-top: 32px;
    font-size: 14px;
}
header .slide span {
    margin-top: 9%;
  }
  /*agency section*/
  .agency #background {
    top: -71px;
  }
  .agency .features div {
    width: 50%;
}
/*clients section*/
.clients .image img {
   min-height: 387px;
   width: 100%;

}
.clients .black {
    width: 100%;
    min-height: 391px;
}
.clients .white{
      width: 100%;
    min-height: 388px;
}
/*blog section*/
.blog h3{
    font-size: 1.4em;
    margin-top: 15%;
}
.blog h3 #background {
    color: #e2e2e2;
    top: -68px;
    font-size: 6em;
}
.blog .skills div {
    width: 90%;
}
.blog .skills .text h4 {
    text-align: center;
}
/*quote section*/
.quotes div {
    width: 46%;
}
/*work section*/
.work .image img {
    width: 60%;
}
.work .feat, .features .image {
    width: 46%;
}
.work .feat span{
   font-size: .7em;
}
/*team section*/
.team .us .image {
    width: 46%;
    margin-top: 3%;
}
/*contact us section*/
.contact-us h3 {
    font-size: 1.3em;
}
.contact-us h3 #background {
    top: 72px;
  
}
.contact-us form input {
    width: 40.33%;
    margin-bottom: 0%;

}
.contact-us form textarea {
    width: 84%;
   margin-top: 4%;
}
.contact-us form .btn {
    left: 34%;
    font-size: 1.1em;
   margin-bottom: 4%;
}
/*footer*/
footer p {
   font-size: .7em;
}

}

@media (min-width: 768px)  and (max-width:991px) {
  .container {
    max-width: 720px;
  }
   /*header section*/
 nav ul li {
    margin-left: 1%;
    margin-right: 2%;
}
header .slide h1 {
     font-size: 6em;
}
header .slide .lead {
   margin-top: 32px;
    font-size: 20px;
}
header .slide span {
    margin-top: 9%;
  }
  /*agency section*/
  .agency .features div {
    width: 50%;
}
/*clients section*/
.clients .image img {
   min-height: 387px;
}
.clients .black {
    min-height: 391px;
}
.clients .white{
  
    min-height: 388px;
}
/*blog section*/
.blog .skills div {
    width: 40%;
}
.blog .skills .text h4 {
    text-align: center;
}
/*quote section*/
.quotes div {
    width: 46%;
}
/*work section*/
.work .image img {
    width: 60%;
}
.work .feat, .features .image {
    width: 46%;
}
.work .feat span{
   font-size: .7em;
}
/*team section*/
.team .us .image {
    width: 46%;
    margin-top: 3%;
}
/*contact us section*/
.contact-us h3 {
    font-size: 1.3em;
}
.contact-us h3 #background {
    top: 72px;
  
}
.contact-us form input {
    width: 40.33%;
    margin-bottom: 0%;

}
.contact-us form textarea {
    width: 84%;
   margin-top: 4%;
}
.contact-us form .btn {
    left: 34%;
    font-size: 1.1em;
   margin-bottom: 4%;
}
/*footer*/
footer p {
   font-size: .7em;
}
}

@media (min-width: 992px) and (max-width:1199px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
/* clients section*/
  .clients .black {
    min-height: 364px;
    max-height: 700px;
}
.clients .white{
  
    min-height: 392px;
    max-height: 700px;

}
.clients #background{
    top:-73px;
}
/* team section*/
.team h3 #background{
    left: -16px;
}
/*contact us setion*/
.contact-us h3 #background {
    top: 138px;
   
}

}
