/*gobal style*/
* {
  box-sizing: content-box;

  
}
body{
	height: 4000px;
    font-family: sans-serif;
    cursor: auto;
    
}
/*start of header*/
header{
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*start of navbar*/
nav{
    overflow: hidden;
    background-color: transparent;
    color: #fff       
}
nav .logo img{
    max-width: 70px;
    max-height: 70px;
    background-color: transparent;
}

nav .logo {
    width: 10%;
    float: left;
    padding-top: 10px;
}
nav .features{
    width: 90%;
    float: right;
    padding-top: 10px;

}

nav ul li{
    list-style: none;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    
}
nav .icons li{
     margin-left: 1%;
    margin-right: 1%;
}
nav ul li:hover{
    border-bottom: 5px solid #11749e;
    padding-bottom: 15px;
   cursor: pointer;
}
 
/*start of slider*/


header  .slide h1{    
    color: #fff;
    font-size: 9em;
    margin-bottom: -36px;
    text-transform: uppercase;

}

header .slide .lead{
    color: #11749e;
    font-size: 37px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 8px;
    word-spacing: 13px;
}
    
header .slide span{
    display: block;
    color: #fff;
}
header .slide i{
    display: block;
    color: #fff;
    font-size: 25px;
    max-width: 36px;
    text-align: center;
    border: 1px solid #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 6px;
    margin-top: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius:50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}
/*start agency section*/
.agency{
    background-color: #11749e;
    padding-top: 15px;
}
.agency h2{
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
     position: relative;
     margin-bottom: 13%;
     margin-top: 10%;
}
 
.agency .features div{
    width: 25%;
}

#background {
    position: absolute;
    top: -56px;
    left: 0;
    bottom: 0;
    right: 0px;
    z-index: 0;
    /* overflow: hidden; */
    color: #5893b1;
    font-size: 5em;
    margin: auto;
    opacity: .5; 
}
.agency .features{
    overflow: hidden;
    color: #e9ffff;
    padding-bottom: 7%;
    
}
.agency .features div i{
    display: block;
    color: #fff;
    font-size: 32px;
    max-width: 36px;
    text-align: center;
    border: 1px solid #2d85a9;
    background-color: #2d85a9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 38px;
    margin-top: 15px;
    border-top-left-radius: 50%;
    border-top-right-radius:50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.agency .features div p{
    font-size: 14px;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 10px;
    text-align: center;
}
/*start clients section*/
.clients {
    overflow: hidden;
}
.clients .black {
    float: left;
    width: 50%;
    background-color: #222222;
    min-height: 311px;
    max-height: 700px;
}
.clients .black h3{
    color: #7f7f7f;
    font-size: .6em;
     padding: 22px;
}
.clients .black h3 span{
    color: #fafafa;
     margin-top: 8px;
    display: block;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: lighter;
}
.clients .black p{
    color: #c6c6c6;
    margin-top: -35px;
    margin-right: 23%;
    font-size: .9em;
    padding: 5%;
}
.clients .white{
    float: right;
    width: 50%;
    background-color: #f3f3f3;
    min-height: 328px;
    max-height: 700px;

}

.clients .white h3{
    color: #a2a2a2;
    font-size: .6em;
     padding: 22px;
}
.clients .white h3 span{
    color: #191919;
    margin-top: 8px;
    display: block;
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: lighter;
}
.clients .white p{
    color: #696969;
    margin-right: 28%;
    font-size: .9em;
    margin-top: -35px;
    padding: 5%;
}   
.clients  .image img{
   width: 50%;
    overflow: hidden;
}

/*start blog section*/
.blog{
    overflow: hidden;
    margin-bottom: 6%;
}
.blog p{
    color: #1b1b1b;
    font-size: 1.4em;
    margin-bottom: 5%;
}

.blog h3{
    position: relative;
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-top: 8%;
    margin-bottom: 6%;
    letter-spacing: 3px;
}
.blog h3 #background {
    color: #e2e2e2;
     top: -75px;
     font-size: 6em;
}
.blog .skills div {
    width: 22%;
}
.blog .skills div img{
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
}
.blog .skills  .image{
    margin-left: 3px;
    margin-right: 3px;
    padding: 8px;
}
.blog .skills  .text{
    margin-left: 3px;
    margin-right: 3px;
    padding: 8px;
}
.blog .skills  .text h4{
    color: #498592;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600
}
.blog .skills  .text p{
    color: #b1b1b1;
    font-size: 14px;
    text-align: center;
}
/*start quotes section */
.quotes {
 background-color: #11749e;
    overflow: hidden;
    min-height: 250px;
}
.quotes div{
    width: 50%;
    float: left;
}
.quotes div i{
     display: block;
    color: #fff;
    font-size: 59px;
    width: 13%;
    text-align: center;
    text-align: center;
    padding: 38px;
    margin-top: 15px;
    float: left;
}
.quotes div p{
      width: 82%;
    font-size: 14px;
    font-weight: 100;
    margin-left: 15px;
    margin-right: 10px;
    text-align: left;
    color: #e9ffff;
     margin-top: 46px;

}

/*start work section */
.work {
    overflow: hidden;
    background-image: url(../images/08.jpg);
    background-size: cover;
}
.work .feat, .features .image {
    width: 50%;
    margin-top: 21%;
}
.work .feat h3{
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: lighter;
}
.work .feat p{
     color: #c6c6c6;
    margin-right: 23%;
    font-size: .8em;
     margin-bottom: 11%;
  
}


.work .image img{
    width: 75%;
    margin: 35%;
}
.work .feat span{
    color: #a3daf0;
    background-color: #11749e;
    display: block;
    margin-bottom: 3%;
    width: 62%;
    text-align: left;
    padding: 7px;
    font-size: 0.9em; 
    text-transform: uppercase;
    font-weight: lighter;
    padding-left: 15px;
}

/*start team section */
.team{
    margin-bottom: 5%;
}
.team .lead{
    color: #1b1b1b;
    font-size: 1.4em;
    margin-bottom: 5%;
}
.team h3{
    position: relative;
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-top: 8%;
    margin-bottom: 6%;
    letter-spacing: 3px;
}
.team h3 #background {
    color: #e2e2e2;
     top: -75px;
     font-size: 6em;
     left: -12px;
}
.team .us{
    overflow: hidden;
}

.team .us .image{
    position: relative;
    float: left;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
}
.team .us .image img{
    width: 100%;
}
.team .us .image p{
    background-color: #fff;
    position: absolute;
    bottom: -16px;
    left: 0;
    width: 80%;
    text-align: center;
    margin-left: 11%;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 5px; 
    color: #a3daf0;
}

.team .us .image p span{
    color: #191919;
}

/*start contact-us section */
.contact-us{
    background-image: url(../images/09.jpg)
        
}
.contact-us h3{
    position: relative;
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-top: 8%;
    margin-bottom: 6%;
    letter-spacing: 3px;
    color: #fff;
    padding-top: 20%;   
}
.contact-us h3 #background {
    color: #e2e2e2;
    top: 105px;
    font-size: 7em;
}
.contact-us form input{
   background-color: transparent;
    width: 30.33%;
    margin-left: 1%;
    border-width: 1px;
    margin-bottom: 3%;
    margin-top: 5%;
    padding-left: 9px
}
.contact-us form textarea{
    width: 96%;
    background-color: transparent;
    margin-left: 1%;
     padding-left: 9px
}
.contact-us form .btn {
   color: #fff;
    background-color: #11749e;
    border: none;
    position: relative;
    left: 41%;
    margin-top: 3%;
    width: 15%;
    padding: 1%;
    font-size: 1.3em;
    text-transform: uppercase;
    
}
/*start footer section */
footer{
    background-color: #222;
    overflow: hidden;

}
  footer ul li{
    list-style: none;
    float: left;
    margin-left: 3%;
    margin-right: 3%;  
}

footer p{
    color: #fff;
}
footer  span{
    color: #11749e;
}
footer .one{
    float: left;
}
footer .two{
    float: right;
}

/* my framework*/

.float-left{
	float: left;
}
.center{
	text-align: center;
}
.clear{
	clear: both;
}
.link{
	text-decoration: none;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}

/*media query*/

/*media for mobile*/

@media (min-width: 576px) and (max-width:785px) {
  .container {
    max-width: 540px;
  }
  /*nav bar section*/
  
  header .slide h1 {
     font-size: 5em;
}
header .slide .lead {
   margin-top: 32px;
    font-size: 14px;
}
header .slide span {
    margin-top: 9%;
  }
  .xs-invisible{
    display: none;
  }
   nav ul li {
    margin-left: 2%;
    margin-right: 0%;
}
  /*agency section*/
  .agency #background {
    top: -71px;
  }
  .agency .features div {
    width: 50%;
}
/*clients section*/
.clients .image img {
   min-height: 387px;
   width: 100%;

}
.clients .black {
    width: 100%;
    min-height: 391px;
}
.clients .black h3{
    text-align: center;
}
.clients .black p{
    margin-right: 0;
    text-align: center;
}
.clients .white{
      width: 100%;
    min-height: 388px;
}
.clients .white h3{
    text-align: center;
}
.clients .white p{
    margin-right: 0;
    text-align: center;
}
/*blog section*/
.blog h3{
    font-size: 1.4em;
    margin-top: 15%;
}
.blog p{
    font-size: 1.2em;
}
.blog h3 #background {
    color: #e2e2e2;
    top: -68px;
    font-size: 6em;
}
.blog .skills div {
    width: 90%;
}
.blog .skills .text h4 {
    text-align: center;
}
/*quote section*/
.quotes div {
    width: 90%;
}
/*work section*/
.work .image img {
    width: 78%;
}
.work .feat, .features .image {
    width: 97%;
}
.work .feat h3{
    font-size: 1.7em
}
.work .feat p{
    font-size: 1.2em
}
.work .feat span{
   font-size: 1em;
}
/*team section*/
.team .lead{
    margin-bottom: 10%;
    margin-top: 12%;
    font-size: 1.2em;
}
.team .us .image {
    width: 95%;
    margin-top: 3%;
}
/*contact us section*/
.contact-us h3 {
    font-size: .9em;
}
.contact-us h3 #background {
    top: 60px;
  
}
.contact-us form input {
    width: 80.33%;
    margin-bottom: 0%;
     margin-left: 9%;
}
.contact-us form textarea {
    width: 80%;
   margin-top: 4%;
   margin-left: 9%;
}
.contact-us form .btn {
    left: 43%;
    font-size: 1em;
   margin-bottom: 4%;
}
/*footer*/
footer p {
   font-size: .7em;
}

}

/*media for tablet*/
@media (min-width: 768px)  and (max-width:991px) {
  .container {
    max-width: 720px;
  }
   /*header section*/
 nav ul li {
    margin-left: 1%;
    margin-right: 2%;
}
header .slide h1 {
     font-size: 6em;
}
header .slide .lead {
   margin-top: 32px;
    font-size: 20px;
}
header .slide span {
    margin-top: 9%;
  }
   .xs-invisible{
    display: none;
  }
  nav ul li {
    font-size: 1.2em;
}
 

  /*agency section*/
  .agency .features div {
    width: 50%;
}
/*clients section*/
.clients .image img {
   min-height: 387px;
}
.clients .black {
    min-height: 391px;
}
.clients .white{
  
    min-height: 388px;
}
/*blog section*/
.blog .skills div {
    width: 40%;
}
.blog .skills .text h4 {
    text-align: center;
}
/*quote section*/
.quotes div {
    width: 46%;
}
/*work section*/
.work .image img {
    width: 60%;
}
.work .feat, .features .image {
    width: 46%;
}
.work .feat span{
   font-size: .7em;
}
/*team section*/
.team .us .image {
    width: 46%;
    margin-top: 3%;
}
/*contact us section*/
.contact-us h3 {
    font-size: 1.3em;
}
.contact-us h3 #background {
    top: 72px;
  
}
.contact-us form input {
    width: 36.33%;
    margin-bottom: 0%;

}
.contact-us form textarea {
    width: 84%;
   margin-top: 4%;
}
.contact-us form .btn {
    left: 34%;
    font-size: 1.1em;
   margin-bottom: 4%;
}
/*footer*/
footer p {
   font-size: .7em;
}

}

/*media for pc*/
@media (min-width: 992px) and (max-width:1199px) {
  .container {
    max-width: 960px;
  }
}

/*media for xl pc*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
/* clients section*/
  .clients .black {
    min-height: 364px;
    max-height: 700px;
}
.clients .white{
  
    min-height: 392px;
    max-height: 700px;

}
.clients #background{
    top:-73px;
}
/* team section*/
.team h3 #background{
    left: -16px;
}
/*contact us setion*/
.contact-us h3 #background {
    top: 138px;
   
}

}
